html {
    background-color: rgb(2, 8, 84);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 27px;
    background-color: #e8d9ea;
    color: black;
    padding: 5px;
    cursor: pointer;
}
h3 {
    padding: 5px;
    width: 350px;
    background-color: #5c5c00;
    font-size: 25px;

}
.content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 20px;
        margin-bottom: 80px;
        width: 330px;
        
    }
}
#mawasu {
    cursor: pointer;
}
#mawasan {
    cursor: pointer; 
}